<%- include('../partials/admin/header.ejs', {title: "Admin-Dashboard", admin:admin}); %>
<!-- End Navbar -->
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header">
              <h5 class="text-center">General Overview</h5>
            </div>
            <div class="card-body">
              <div class="row">
              <div class="card col-md-3">
                <div class="card-body">
                  <h5 class="card-title">Total Number of Users</h5>
                  <div class="text-center">
                    <button class="btn btn-success btn-lg"><%=total%></button>

                  </div>
                </div>
              </div>
              <div class="card col-md-3">
                <div class="card-body">
                  <h6 class="card-title">Active Users <span id="totalUsers"></span></h6>
                  <p>
                    <label for="online">Online</label>
                    <button type="button" name="online"  class="btn btn-success btn-lg" id="online">0</button>
                  </p>
                  <p>
                    <label for="offline">Offline</label>
                    <button type="button" name="offline" id="offline" class="btn btn-light btn-lg">0</button>
                  </p>
                </div>
              </div>
              <div class="card col-md-3">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                </div>
              </div>
              <div class="card col-md-3">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                      <iframe id="Iframe" scrolling='no' src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSag3jAyFd_l4k82NLg6YPGVj24ucoSfIPh4dcK_vJ1ukCE0en-ltTo0OXD98i-vs6fEtA9q0W7BQoU/pubchart?oid=1328108709&amp;format=interactive"></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">Email Statistics</h5>
                    <h4 class="card-title">24 Hours Performance</h4>
                </div>
                <div class="card-body">
                        <!-- Chart</canvas> -->
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-tasks">
                <div class="card-header">
                    <h5 class="card-category">Backend development</h5>
                    <h4 class="card-title">Tasks</h4>
                </div>
                <div class="card-body">
                    <div class="table-full-width table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" checked="">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-left">Sign contract for "What are conference organizers afraid of?"</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title=""
                                            class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                            data-original-title="Edit Task">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title=""
                                            class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                                            data-original-title="Remove">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>

                                <td class="text-left">Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title=""
                                            class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                            data-original-title="Edit Task">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title=""
                                            class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                                            data-original-title="Remove">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" checked="">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>

                                <td class="text-left">Flooded: One year later, assessing what was lost and what was
                                    found when a ravaging rain swept through metro Detroit
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title=""
                                            class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                            data-original-title="Edit Task">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title=""
                                            class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                                            data-original-title="Remove">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">All Persons List</h5>
                    <h4 class="card-title"> Employees Stats</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Name
                            </th>
                            <th>
                                Country
                            </th>
                            <th>
                                City
                            </th>
                            <th class="text-right">
                                Salary
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Dakota Rice
                                </td>
                                <td>
                                    Niger
                                </td>
                                <td>
                                    Oud-Turnhout
                                </td>
                                <td class="text-right">
                                    $36,738
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Minerva Hooper
                                </td>
                                <td>
                                    Curaçao
                                </td>
                                <td>
                                    Sinaai-Waas
                                </td>
                                <td class="text-right">
                                    $23,789
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sage Rodriguez
                                </td>
                                <td>
                                    Netherlands
                                </td>
                                <td>
                                    Baileux
                                </td>
                                <td class="text-right">
                                    $56,142
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Doris Greene
                                </td>
                                <td>
                                    Malawi
                                </td>
                                <td>
                                    Feldkirchen in Kärnten
                                </td>
                                <td class="text-right">
                                    $63,542
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mason Porter
                                </td>
                                <td>
                                    Chile
                                </td>
                                <td>
                                    Gloucester
                                </td>
                                <td class="text-right">
                                    $78,615
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var users = <%- JSON.stringify(users)%>;
var total = <%- total%>;
console.log(total);
var count = Object.keys(users).length;
console.log(count);
var subscribedUsers = {};
var i =0;
users.forEach(function (user) {
  if(user.hasOwnProperty('subscriptions')){
      subscribedUsers[i] = user.subscriptions;
      i++;
  }
});
var activeUsers = Object.keys(subscribedUsers).length
var activatedUsers=0;
for(var item in subscribedUsers)
	subscribedUsers[item][0].status==1?activatedUsers++:'';
var offlineUsers = activeUsers-activatedUsers
  $("#totalUsers").text('('+ activeUsers+')');
  $("#online").text(activatedUsers);
  $("#offline").text(offlineUsers);

 var activeUsers = Object.keys(subscribedUsers).length
</script>
<%- include('../partials/admin/footer.ejs') %>
