<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	  <!-- Compiled and minified JavaScript -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script  src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>

	<script src="/public/js/contact.js"></script>
		<style>
			body{

				margin: 0;
			}
			nav{
				background-color: #ff5353;
				padding: 20px 10px;
			}
			nav ul{
				max-width: 960px;
				margin: 0 auto;
				padding: 0;
			}
			.nav-item{
				list-style-type: none;
				display: inline-block;
				margin: 0 10px 0 0;
			}
			.nav-link:hover{
				background-color: #00FF40;
			}
			.nav-link{
				color: black;
				font-size: 18px;
				background:#E6E6E6;
				text-decoration: none;
				padding: 10px;
				display: block;
			}

			main,header{
				max-width: 960px;
				margin: 30px auto;
				padding: 0 10px;
				color: #333;
			}
			.container{
				margin-top:20px;
			}


		</style>

	</head>
<body>
<div class="container">

		<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img src="../public/images/logo.png" alt=""></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
				<% if (user) { %>
				<li class="nav-item active"><a href="/profile" class="nav-link">Dashboard</a></li>
				<li class="nav-item active"><a href="/profile/update" class="nav-link">Updates</a></li>
				<li class="nav-item active"><a href="/profile/contact" class="nav-link">Contact us</a></li>
				<li class="nav-item active"><a href="/profile/services" class="nav-link">More services</a></li>
				<li class="nav-item active"><a href="/auth/logout" class="nav-link">Log out</a></li>
				<% } else { %>
				<li class="nav-item active"><a href="/auth/login" class="nav-link">Login</a></li>
				<li class="nav-item active"><a href="/" class="nav-link">Homepage</a></li>
				<li class="nav-item active"><a href="#" class="nav-link">FAQ</a></li>
				<% } %>
    </ul>
  </div>
</nav>
	<header>
		<small><h1><img src="<%=user.google.thumbnail%>"/>  <span>username: <span><%=user.google.username %><%=user.facebook.name %>  <span>email:<span><%=user.google.email %><%=user.local.username %></h1></small>
<a href="/profile/login-admin">
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-user"></span> Star
</button></a>
</div>
</body>
</html>
